<%- include("partials/header"); -%>
<section id = "contact">
      <div class = "">
        <h1 class = "intro2">Let's work together...</h1>
        <p class ="myself2">How do you take your coffee?</p>
        <div style = "text-align : center; border-radius : 30%; ">
          <form action=" " method=" " style = "display: inline-block;margin-left: auto;margin-right: auto;text-align: left;">
            <div class="form-group">
              <label class = "contact">Name</label>
              <input class="form-control" type="text" name="postTitle">
              <label class = "contact">Email</label>
              <input class="form-control" type="text" name="postTitle">
              <label class = "contact">Comments</label>
              <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
            </div>
            <button class="btn btn-primary" type="submit" name="button">Submit</button>
          </form>
          </div>
        <div class = "row">
            <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a class = navbar-link1 href = "https://www.facebook.com/abhishek.mittal.12979" target = "blank"><i class="icon fa fa-facebook-square"></i> Facebook</a>
            </div>
          <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">

            <a class = navbar-link1 href = "https://github.com/Abhishek-Mittall" target = "blank"><i class="icon fa fa-github-square"></i> Github</a>
            </div>
            <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a class = navbar-link1 href = "https://www.instagram.com/abhishekmittall/?hl=en" target = "blank"><i class="icon fa fa-instagram" aria-hidden="true"></i> Instagram</a>
            </div>
            <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a class = navbar-link1 href = "https://www.linkedin.com/in/abhishek-mittall" target = "blank"><i class="icon fa fa-linkedin" aria-hidden="true"></i> Linkedin</a>
            </div>
          </div>

        </div>
      </section>
<%- include("partials/footer"); -%>
