<%- include("partials/header_home"); -%>

    <h1 class = "home_heading">Blogging is a conversation, <br />not a code.</h1>
    <a href = "/blog" type="button" class="home_p btn btn-dark btn-lg">See Blogs</a>
<%- include("partials/footer_home"); -%>
